@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');



.checkout{
  margin-top: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(23,46,11,1) 0%, rgba(85,107,47,1) 62%);
}

.checkout form{
  padding:20px;
  width:80%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.checkout form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.checkout form .row .col{
  flex:1 1 250px;
}

.checkout form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.checkout form .row .col .inputBox{
  margin:15px 0;
  width: 100%;
}

.checkout form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.checkout form .row .col .inputBox input ,.checkout form .row .col .inputBox select {
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.checkout form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.checkout form .row .col .flex{
  display: flex;
  gap:15px;
}

.checkout form .row .col .flex .inputBox{
  margin-top: 5px;
}

.checkout form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.checkout form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  margin-top: 5px;
  cursor: pointer;
}

.checkout form .submit-btn.active{
  background: linear-gradient(79deg, rgba(23,46,11,1) 0%, rgba(85,107,47,1) 62%);
  color:#fff;
}

.checkout form .submit-btn.active:hover{
  color:#fff;
  background: linear-gradient(306deg, rgba(5,0,8,1) 0%, rgba(214,12,12,1) 50%);
}

.checkout form .submit-btn.inactive,
.checkout form .submit-btnd.inactive:hover,
.checkout form .submit-btn.inactive:active{
  color: #292929 !important;
  border-color: #ccc !important;
  cursor: not-allowed !important;
}

.inactive{

  background-color: #ccc;
}

.cart__list{
  max-height: 250px;
  overflow-y: scroll;

}

.total{
  padding: 1rem 0;
}

.total h1{
  text-align: right;
  color: red;
}

.invalid input{
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.error-text {
  color: #b40e0e;
}

.end-form {
  text-align: center;
}

.end-form h1{
  color: #fff;
  font-size: 3rem;
}

.end-form i{
  font-size: 5rem;
  margin: 1rem 0;
}




@media (max-width: 1023px) {
  .checkout{
      margin-top: var(--header-tablet-height);
  }
}

