.order{
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
}

.wrap{
    width: 60%;
}

.cartInfo{
    width: 100%;
}

.cartInfo>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;

    
}

.cartInfo span{
    font-size: 2rem;
}

.cartInfo input{
    width: 60%;
}