.search-bar-dropdown {
    width: 100%;
    position: relative;
  }


  #results {
    position: absolute;
    display: none;
    overflow-y: scroll;
    height: 10rem;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* #results > button {
    background-color: #fafafa;
  } */
  
  /* width */
  
  
  #search-bar {
    width: 100%;
  }

  .list-group-item{
    width: 100%;
    border: none;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem ;
    box-shadow: var(--box-shadow);
    background: #fff;
  }

  